---
import type { APIUserResponse } from "./api/User";

interface Props {
	useHeader?: boolean;
	articleMode?: boolean;
	page?: string;
	user?: APIUserResponse;
}
const { page, articleMode, useHeader, user } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="description"
			content="A job activity tracker to parse data from live clock in channels and provide with a interactive dashboard for the data, maintained by techstreet."
		/>
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

		<title>HighLife Job Tracker{page ? ` - ${page}` : void 0}</title>

		<script src="https://kit.fontawesome.com/118e986a20.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css" rel="stylesheet" />
	</head>

	<body class="scrollbar-thin scrollbar-thumb-zinc-700 scrollbar-track-[#0d1117] scrollbar-rounded-full text-light font-sans bg-[#0d1117]">
		<slot />
	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
</html>

<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-border: hsl(15, 2%, 33%);
	}

	html {
		font-family: system-ui, sans-serif;
		color: var(--color-text);
		background-color: var(--background-color);

	}
	
	body, html {
		margin: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
</style>

<style is:global>
	.unselectable {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		cursor: default;
	}

	.unhighlightable {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	.command-btn {
		border: 0;
		outline: 0;
		outline: none
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>